:root {
  --main-text-color: #757575;
  --additional-text-color: #212121;
  --accent-color: #2196f3;
  --white: #ffffff;
}

/* font-family: 'Raleway', sans-serif; */
/* font-family: 'Roboto', sans-serif; */

/* цвет основного тексту  #757575*/
/* другорядний колір тексту  #212121  */
/*  чорний #000000 */
/* акценти background: #2196F3; */
/* білий #FFFFFF; */
/* другорядний акцент: background: #F5F4FA; */
/* --additional-accent-color:#2196F3; */

body {
  font-family: "Roboto";
  background-color: #ffffff;
  color: var(--main-text-color);
  font-weight: 400;
  font-style: normal;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

/* li > a:hover {
  color: #2196f3;
} */

ul {
  list-style: none;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  text-decoration: none;
  color: #000000;
}

.logo-akcent {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.logo-white {
  color: var(--white);
}

.nav-link,
.contact-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--additional-text-color);
}
.nav-link:hover,
.nav-link:focus,
.contact-link:hover,
.contact-link:focus,
.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);
}

.filter-btn {
  border: none;
  background-color: #f5f4fa;
  color: #000000;
  border-radius: 4px;
  font-size: 16px;
  padding: 6px 22px;
}

.filter-btn:hover,
.filter-btn:focus {
  background-color: var(--accent-color);
  border: none;
  /* border-radius: 5px; */
  color: var(--white);
}

.contact-link {
  color: var(--main-text-color);
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #182166;
}

.filter {
  font-weight: 500;
  font-size: 16x;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--additional-text-color);
}
/* .button {
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  /* identical to box height, or 188% */
/* display: flex; */
/* align-items: center;
  text-align: center; */
/* letter-spacing: 0.06em; */
/* color: var(--white); */
/* } */
.benefits-list .title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--additional-text-color);
}
.benefits-list .text {
  /* font-weight: 400; */
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

/* заголовки першої сторінки */
.description-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--additional-text-color);
}
.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--additional-text-color);
}

.team-member-decription {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.footer-addres {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.footer-contact {
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;
  color: #182290;
}
.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--additional-text-color);
}
.portfolio-subtitle {
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
.footer-link {
  color: var(--white);
  font-style: normal;
}
.link-transparency {
  opacity: 0.6;
}
.footer {
  background-color: #2f303a;
  text-decoration: none;
}
